<span class="d-flex justify-content-between align-items-center">
    <div>
    {{todoItem.text}}
    </div>
    <div>
        <button type="button" class="btn btn-outline-primary" disabled>Kategoria: {{todoItem.category}}</button>
        
    </div>
    <div>
        <div *ngIf="todoItem.taskStatus == 'Wykonano'">
            <button type="button" class="btn btn-outline-success" disabled>Status: {{todoItem.taskStatus}}</button>
        </div>
        <div *ngIf="todoItem.taskStatus == 'Niewykonano'">
            <button type="button" class="btn btn-outline-danger" disabled>Status: {{todoItem.taskStatus}}</button>
        </div>
    </div>
    <div>
        <button class="btn btn-info" (click)="changeStatusOfItem()">Status</button>
        <button class="btn btn-danger" (click)="deleteItem()">X</button>
    </div>
</span>