<div class="form-group">
    <app-to-do-input-field></app-to-do-input-field>      
</div>

<ul class="list-group mt-3">
    <li class="list-group-item" *ngFor="let item of getToDoItems()">
        <div *ngIf="item.taskStatus == 'Niewykonano'">
            <app-to-do-item [todoItem]="item" (itemToDelete)="removeItem($event)" (itemStatusToChange)="changeItemStatus($event)"></app-to-do-item>
        </div>
        <div *ngIf="item.taskStatus == 'Wykonano'">
            <s><app-to-do-item [todoItem]="item" (itemToDelete)="removeItem($event)" (itemStatusToChange)="changeItemStatus($event)"></app-to-do-item></s>
        </div>
    </li>
</ul>

<div class="button-group mt-3">
    <button class="btn btn-primary mr-4" (click)="sortNamesAlphabetical()">Sortuj Według Nazwy</button>  
    
    <button class="btn btn-primary" (click)="sortByCategory()">Sortuj Według Kategorii</button>  
    <button class="btn btn-primary" (click)="sortByStatus()">Sortuj Według Statusu</button>
</div>